{% load static %}

<!-- jQuery -->
<script src="{% static 'js/jquery.js' %}"></script>

<!-- bootstrap JS -->
<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>

<!-- WOW JS -->
<script src="{% static 'js/wow/wow.min.js' %}"></script>

<!-- magnific-popup JS -->
<script src="{% static 'js/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

<!-- owl carousel JS -->
<script src="{% static 'js/owl-carousel/owl.carousel.min.js' %}"></script>

<!-- counter -->
<script src="{% static 'js/counter/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/counter/jquery.counterup.min.js' %}"></script>

<!-- easing -->
<script src="{% static 'js/easing/jquery.easing.1.3.js' %}"></script>

<!-- custom JS -->
<script src="{% static 'js/custom.js' %}"></script>