{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- required meta tags -->
    <meta charset="utf-8">
    
    <meta name="description" content="Building modern responsive website with html5, css3, jQuery & bootstrap framework">
    <meta name="keywords" content="HTML5, CSS3, jQuery, Bootstrap, Web Design, Web Development, Responsive website, Modern website">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- title -->
    <title>Amitprafull.com</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.11.0/devicon.min.css">
    {% include 'partials/styles.html' %}
</head>

<body data-spy="scroll" data-target=".navbar-fixed-top" data-offset="65">

    {% include 'partials/navbar.html' %}
    <!-- Skills -->
    <section id="home">
        <div id="skills-cover" class="bg-parallax animated fadeIn">
            <div id="home-content-box">
                <div id="home-content-box-inner" class="text-center">
                    <div id="home-heading" class="animated zoomIn">
                        <h3>My Skills</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Skills -->
    <section id="services">

        <div class="content-box">
            <div class="content-title wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
                <h3> Programming Languages </h3>
                <div class="content-title-underline"></div>
            </div>

            <div class="container">

                <div class="row">

                    <div class="col-md-4 col-sm-6">

                        <div class="service-item wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">

                            <div class="service-item-icon">
                                <i class="devicon-python-plain devicon"></i>
                            </div>

                            <div class="service-item-title">
                                <h3>Python</h3>
                            </div>

                            <div class="service-item-desc">
                                <p>Hands down my favorite programming language, I've using this since my college days. 
                                </p>
                                <p>
                                    I am
                                    professionally using it for web development, programming desktop applications and AI driven 
                                    systems for about 2+ years.
                                </p>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                            <div class="service-item-icon">
                                <i class="devicon-javascript-plain devicon"></i>
                            </div>
                            <div class="service-item-title">
                                <h3>Javascript</h3>
                            </div>
                            <div class="service-item-desc">
                                <p>This is the language I use for the most part these days for both front-end and back-end web development.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                            <div class="service-item-icon">
                                <i class="devicon-cplusplus-plain devicon"></i>
                            </div>
                            <div class="service-item-title">
                                <h3>C++</h3>
                            </div>
                            <div class="service-item-desc">
                                <p>I started programming with C and then switched to C++, I've used this language to solve competitive
                                    programming problems.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                            <div class="service-item-icon">
                                <i class="devicon-php-plain devicon"></i>
                            </div>
                            <div class="service-item-title">
                                <h3>PHP</h3>
                            </div>
                            <div class="service-item-desc">
                                <p>I started my professional career with PHP and wordpress, I did internship and then went on to
                                    do some freelance and personal projects using PHP in conjunction with mySQL.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-box">
            <div class="content-title wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
                <h3> Mark Up / Styling  Languages </h3>
                <div class="content-title-underline"></div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                            <div class="service-item-icon">
                                <i class="devicon-html5-plain devicon"></i>
                            </div>
                            <div class="service-item-title">
                                <h3>HTML5</h3>
                            </div>
                            <div class="service-item-desc">
                                <p>I've been using HTML for nearly 7+ years now often with other frameworks and technologies related to web.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                            <div class="service-item-icon">
                                <i class="devicon-css3-plain devicon"></i>
                            </div>
                            <div class="service-item-title">
                                <h3>CSS3</h3>
                            </div>
                            <div class="service-item-desc">
                                <p>I've been using CSS for nearly 5+ years now, it's so fundamental to web development.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">

                        <div class="service-item wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                            <div class="service-item-icon">
                                <i class="devicon-sass-original devicon"></i>
                            </div>
                            <div class="service-item-title">
                                <h3>SCSS / SASS</h3>
                            </div>
                            <div class="service-item-desc">
                                <p>It is probably the only CSS compiler I've ever used. It just makes writing CSS more fun and effective.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="content-box">
            <div class="content-title wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
                <h3> Front-End Frameworks </h3>
                <div class="content-title-underline"></div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                            <div class="service-item-icon">
                                <i class="devicon-vuejs-plain devicon"></i>
                            </div>
                            <div class="service-item-title">
                                <h3>Vue JS</h3>
                            </div>
                            <div class="service-item-desc">
                                <p>For me, easily the best front-end framework. I've been using Vue for almost 3 years now.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                            <div class="service-item-icon">
                                <i class="devicon-react-original devicon"></i>
                            </div>
                            <div class="service-item-title">
                                <h3>React JS</h3>
                            </div>
                            <div class="service-item-desc">
                                <p>Using React would definitely make you a better Javascript developer. I've used React for almost
                                    an year in professional projects.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                            <div class="service-item-icon">
                                <i class="devicon-angularjs-plain devicon"></i>
                            </div>
                            <div class="service-item-title">
                                <h3>Angular</h3>
                            </div>
                            <div class="service-item-desc">
                                <p>Now much experienced with this, I do have plans to learn Typescript in future. I've used it for minor
                                    projects, but I prefer the other two over Angular.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                            <div class="service-item-icon">
                                <i class="devicon-jquery-plain devicon"></i>
                            </div>
                            <div class="service-item-title">
                                <h3>Jquery</h3>
                            </div>
                            <div class="service-item-desc">
                                <p>Still relevant in my opinion, very easy to plug into multi-page applications which do not
                                    use any front-end frameworks.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-box">
            <div class="content-title wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
                <h3> Back-End Frameworks </h3>
                <div class="content-title-underline"></div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                            <div class="service-item-icon">
                                <i class="devicon-django-plain devicon"></i>
                            </div>
                            <div class="service-item-title">
                                <h3>Django</h3>
                            </div>
                            <div class="service-item-desc">
                                <p>My framework of choice for the back-end. I've been using it for 2+ years now.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                            <div class="service-item-icon">
                                <i class="devicon-express-original devicon"></i>
                            </div>
                            <div class="service-item-title">
                                <h3>Express</h3>
                            </div>
                            <div class="service-item-desc">
                                <p>A minimal back-end framework and easily the most popular with Node environment. Most of my current
                                    work for the back-end is in Express using Mongodb as database.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                            <div class="service-item-icon">
                                <i class="devicon-nodejs-plain devicon"></i>
                            </div>
                            <div class="service-item-title">
                                <h3>Hapi JS (Node)</h3>
                            </div>
                            <div class="service-item-desc">
                                <p>Just recently got exposed to this awesome framework for back-end in my current company. I think it's hugely
                                    under-appreciated, I could not even find icon for this.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-box">
            <div class="content-title wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
                <h3> Databases </h3>
                <div class="content-title-underline"></div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                            <div class="service-item-icon">
                                <i class="devicon-mongodb-plain devicon"></i>
                            </div>
                            <div class="service-item-title">
                                <h3>Mongodb</h3>
                            </div>
                            <div class="service-item-desc">
                                <p>I use Mongodb for my express and other node projects. There are things which document and collection
                                    based databases make very easy for you, like making changes in existing database and handling unstructured data a breeze.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                            <div class="service-item-icon">
                                <i class="devicon-mysql-plain devicon"></i>
                            </div>
                            <div class="service-item-title">
                                <h3>My SQL</h3>
                            </div>
                            <div class="service-item-desc">
                                <p>This was the very first database I used with PHP, I do not use it that much these days.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                            <div class="service-item-icon">
                                <i class="devicon-postgresql-plain devicon"></i>
                            </div>
                            <div class="service-item-title">
                                <h3>PostgreSQL</h3>
                            </div>
                            <div class="service-item-desc">
                                <p>I am using this in place of mySQL for most of my projects now, but at the end of the day both of them
                                    are very similar.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-box">
            <div class="content-title wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
                <h3> Other Tech Skills </h3>
                <div class="content-title-underline"></div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                            <div class="service-item-icon">
                                <i class="devicon-thealgorithms-plain devicon"></i>
                            </div>
                            <div class="service-item-title">
                                <h3>Data Structures and Algorithms</h3>
                            </div>
                            <div class="service-item-desc">
                                <p>I have been interested in Data Structures from my college days and solved quite a lot competitive programming questions.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                            <div class="service-item-icon">
                                <i class="devicon-git-plain devicon"></i>
                            </div>
                            <div class="service-item-title">
                                <h3>Git / Github</h3>
                            </div>
                            <div class="service-item-desc">
                                <p>For collaborative development I've using Git for around 3+ Years.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                            <div class="service-item-icon">
                                <i class="devicon-docker-plain devicon"></i>
                            </div>
                            <div class="service-item-title">
                                <h3>Docker</h3>
                            </div>
                            <div class="service-item-desc">
                                <p>I just recently learned Docker and got exposed to Docker containers for deploying your web application.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                            <div class="service-item-icon">
                                <i class="devicon-nginx-plain devicon"></i>
                            </div>
                            <div class="service-item-title">
                                <h3>Nginx</h3>
                            </div>
                            <div class="service-item-desc">
                                <p>I have basic knowledge of Nginx, how proxy servers work and how to route requests to different end-point through
                                    nginx.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                            <div class="service-item-icon">
                                <i class="devicon-photoshop-plain devicon"></i>
                            </div>
                            <div class="service-item-title">
                                <h3>Photoshop</h3>
                            </div>
                            <div class="service-item-desc">
                                <p>I had ardent interest in image manipulation using Photoshop and expanding the horizon of my creativity.
                                    I do not use it these days though.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="content-box">
            <div class="content-title wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
                <h3> Operating Systems </h3>
                <div class="content-title-underline"></div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                            <div class="service-item-icon">
                                <i class="devicon-windows8-original devicon"></i>
                            </div>
                            <div class="service-item-title">
                                <h3>MS Windows</h3>
                            </div>
                            <div class="service-item-desc">
                                <p>For pure development purposes, I still prefer windows. I know it's kinda weird but I do. For testing and deployment, I do switch
                                    over to Linux based operating systems like Mint and Ubuntu
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                            <div class="service-item-icon">
                                <i class="devicon-linux-plain devicon"></i>
                            </div>
                            <div class="service-item-title">
                                <h3>Linux</h3>
                            </div>
                            <div class="service-item-desc">
                                <p>For more rigorous dev environment, I switch to Linux based operating systems mainly Ubuntu and Mint.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-box">
            <div class="content-title wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
                <h3> Code Editors </h3>
                <div class="content-title-underline"></div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                            <div class="service-item-icon">
                                <i class="devicon-visualstudio-plain devicon"></i>
                            </div>
                            <div class="service-item-title">
                                <h3>Visual Studio Code</h3>
                            </div>
                            <div class="service-item-desc">
                                <p>My favorite editor these days for almost any kind of application and language.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                            <div class="service-item-icon">
                                <i class="devicon-webstorm-plain devicon"></i>
                            </div>
                            <div class="service-item-title">
                                <h3>Jetbrains Webstorm</h3>
                            </div>
                            <div class="service-item-desc">
                                <p>Sometimes I prefer this editor to write Node JS applications, it's loaded with options and 
                                    templates for many frameworks in Node JS. 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                            <div class="service-item-icon">
                                <i class="devicon-pycharm-plain devicon"></i>
                            </div>
                            <div class="service-item-title">
                                <h3>Jetbrains Pycharm</h3>
                            </div>
                            <div class="service-item-desc">
                                <p>I use it nearly all the time when I write Python based applications, makes things like working with virtual
                                    environments a walk in the park. 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                            <div class="service-item-icon">
                                <i class="devicon-atom-plain devicon"></i>
                            </div>
                            <div class="service-item-title">
                                <h3>Atom</h3>
                            </div>
                            <div class="service-item-desc">
                                <p>I use Atom at times for my HTML, CSS and PHP based applications. Definitely, the least used out of all editors.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'partials/footer.html' %}
    {% include 'partials/scripts.html' %}
</body>

</html>